<h2>Inspection Form</h2>
    <form>
      <div class="form-group">
        <label for="customer">Customer</label>
        <input type="text" class="form-control" id="customer" required>
      </div>
      <div class="form-group">
        <label for="observations">Observations</label>
        <input type="text" class="form-control" id="observations" required>
      </div>
      <div class="form-group">
        <mat-form-field>
          <label for="inspectionDate">InspectionDate</label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Inspector</mat-label>
          <mat-select>
            <mat-option *ngFor="let inspector of inspectorsData" [value]="inspector.id" >
              {{inspector.inspectorName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-button (click)="openSnackBar('Not Implemented yet', 'Close')">OK</button>

    </form>